body, html {
    margin: 0;
    font-family: sans-serif;
    font-weight: 100;
    background: #edeef0;
}
/*Основная часть страницы*/
.content {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1100px;
}

/*Левое меню*/
.left_menu {
    width: 200px;
    margin-top: 15px;
    margin-left: 5%;
    margin-right: 5%;
}

.left_menu > p {
    color: #507299;
	margin-top: 10px;
	margin-bottom: 20px;
}

.left_menu > p:hover {
    background-color: #e1e5eb;
}

/*Центральная колонка с постами*/
.central_column {
    margin: 10px auto; 
}

/*Правая колонка со второстепенными постами*/
.right_column {
    margin-top: 10px;
    margin-left: 65px;
    float: left;
    flex-grow: 1;
}

.right_column_div {
    position: fixed;
}

/*Пост главной колонки*/
.post {
    background: white;
    width: 460px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #d0d0d0;
    text-align: justify;
    border-radius: 15px;
    padding: 20px;
}

.post img{
   max-width: 100%;
   padding-bottom: 10px;
}

.post_text {
    padding-bottom: 10px;
}

.post_text::selection {
    background:#edeef0;
    color:green;
}

.post_header {
    border-bottom: 3px solid #d0d0d0;
    background: white;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-left: -20px;
    margin-right: -20px;
}

.post_header > span {
    margin-left: 20px;
    font-weight: bold;
}

.post_reaction {
    border-top: 3px solid #d0d0d0;
    margin: 0px 0px 15px 0px;
}

.post_reaction > a {
    color: #2e5473;
    text-decoration: none;
}

.like {
    padding-top: 4px;
    float: left;
}

.comment {
    padding-top: 4px;
    float: right;
    text-align: right;
}

/*Пост второстепенной колонки*/
.secondary_post {
    background: white;
    width: 160px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #d0d0d0;
    border-radius: 10px;    
}

.secondary_post_header {
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px
}

.secondary_post > p {
    background: #edeef0;
    margin-left: 15px;
    margin-right: 15px;
}

header {
    background: #507299;
    padding-top: 7px; 
    padding-bottom: 4px;
    padding-left: 10%;  
}

footer {
    color: #d0d0d0;
    background: white;
    text-align: center;
    padding: 5px;
}

@media (max-width: 1000px)
{
    .right_column {
		display: none;
	}
}

@media (max-width: 740px)
{
	.content {
		display: block;
	}
	
	.left_menu {
		width: 80%;
		margin-left: auto;
        margin-right: 40px;
	}
		
	.left_menu > p {
		display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
    }
	
	.post {
        margin-left: auto;
        margin-right: auto;
	}
}